@font-face {
    font-family: Quicksand;
    src: url(Fonts/Quicksand-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Quicksand;
    src: url(Fonts/Quicksand-Bold.ttf);
    font-weight: bold;
}

header {
    background-color: rgb(235, 207, 156);
    text-align: left;
    padding: 30px;
    border-bottom: 2px solid #c27400;
    font-family: "Quicksand", Helvetica;
}

header h1 {
    margin-bottom: 8px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Quicksand", Helvetica;
    color:rgb(58, 0, 112);
}

article {
    font-family: "Quicksand", Helvetica;
    color: black;
    text-align: left;
}

body {
    background:antiquewhite;
}
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 500px;
    margin: 1em 0;
    font-family: "Quicksand";
    color: #000000;
    border-radius: 8px;
    overflow: hidden;
  }

  th, td {
    padding: 10px 14px;
    text-align: left;
  }