@font-face {
    font-family: Quicksand;
    src: url(Fonts/Quicksand-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Quicksand;
    src: url(Fonts/Quicksand-Bold.ttf);
    font-weight: bold;
}

header {
    background-color: rgb(235, 207, 156);
    text-align: left;
    padding: 30px;
    border-bottom: 2px solid #c27400;
    font-family: "Quicksand", Helvetica;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1;
    top: 0;
}

header h1 {
    margin-bottom: 8px;
    text-align: left;
}

footer {
    margin: 0;
    background-color: rgb(235, 207, 156);
    height: 54px;
    width: 100%;
    font-family: "Quicksand";
    padding-top: 20px;
    padding-left: 20px;
    box-sizing: border-box;
  }

footer p {
    margin: 0;
}

nav ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}

nav ul li {
    padding: 0 25px;
    margin: 0 5px;
    font-size: 1.5em;
    line-height: 4.3em;
}

nav ul a {
    color: rgb(58, 0, 112);
    padding: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul a:hover, .aktive a {
    border-bottom: 2px solid;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Quicksand", Helvetica;
    color:rgb(58, 0, 112);
}

article {
    font-family: "Quicksand", Helvetica;
    color: black;
    text-align: left;
    margin: 20px;
}

body {
    background:antiquewhite;
    margin: 0;
    padding-top: 180px;
}
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 500px;
    margin: 1em 0;
    font-family: "Quicksand";
    color: #000000;
    border-radius: 8px;
    overflow: hidden;
  }

  th, td {
    padding: 10px 14px;
    text-align: left;
  }

  html {
    background-color: rgb(235, 207, 156);
  }

  table.framed {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
  }

  table.framed th, 
  table.framed td {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 6px 10px;
  }